name: OpenAPI Generator

# Define when the workflow should run
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

# Define the jobs to run
jobs:
  list-contents:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: List contents of the repository
        run: ls -la ${{ github.workspace }}

  generate-rest-server:
    runs-on: ubuntu-latest  # Define the type of machine to run the job on

    container:
      image: openapitools/openapi-generator-cli:latest
      volumes:
        - ${{ github.workspace }}:/local

    # Define the steps of the job
    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Checks-out your repository under $GITHUB_WORKSPACE

      - name: Generate API Server
        run: |
          generate -i /local/service.yaml -g scala-cask -c /local/openapi-config.yaml -o /local/target/rest-stubs

  package:
    runs-on: ubuntu-latest  # Define the type of machine to run the job on
    needs: generate-rest-server
    steps:
      - name: Setup Scala and Java
        uses: olafurpg/setup-scala@v10
        with:
          java-version: 11

      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache
            ~/.cache/coursier
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt', '**/project/**/*.scala', '**/project/build.properties') }}
          restore-keys: |
            ${{ runner.os }}-sbt-

      - name: Build Project
        run: sbt clean compile
        working-directory: rest-stubs

      - name: Test Project
        run: sbt test
        working-directory: rest-stubs

      - name: Package JAR
        run: sbt package
        working-directory: rest-stubs

      - name: Publish JAR to GitHub Packages
        run: sbt publish
        working-directory: rest-stubs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
